.box{
    padding: 20px;
    height: 100px;
    width: 100px;
    background-color: #6DCC5F;
    font-size: 30px;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: #013b54;
    border-radius: 50%;
}
#curved{

    background-color: #6ea4e1;
    height: 100px;
    width: 100px;
    border-radius: 25%;

}
body{
    background-color: grey;
}