body {
    background-color: #242424;
    display: flex;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
}


.button-container {
    display: flex;
}

.button {
    padding: 1rem;
    border: 0.1rem solid black;
    width: 6rem;
    height: 3rem;
}

.button:hover {


}



